@charset "utf-8";
.mr10{
	margin-right:10px;
}
a{
	font-size:12px;
	text-decoration: none;
	color:black;
}
img{
	border:none;
}
ul,ol{
	list-style: none;
}
b{
font-size: 12px;
	font-weight: normal;
}
em{
	font-style: normal;
}
.mt10{
	margin-top:10px;
}
.clear{
	clear:both;
}

.fr{
	float:right;
}
.fl{
	float:left;
}
.more_main{
		margin-bottom: 0;
		height:35px;
		overflow: hidden;
		background:url(../images/border_main.jpg) repeat-x;
	}
.more_left{
	height:35px;
		background:url(../images/border_left.jpg) 0 0 no-repeat;
}
.more_right{
	height:35px;
	background:url(../images/border_right.jpg) right 0 no-repeat;
}
.more_content{
	margin-top: 0;
	height: 200px;
	overflow: hidden;
	background:url(../images/main_more.jpg) 0 0 repeat-y;
}

.foot_main{
	height:30px;
	background:url(../images/border_foot.jpg) 0 -60px repeat-x;
}
.foot_left{
	height:30px;
	background:url(../images/border_foot.jpg) 0 0 no-repeat;
}
.foot_right{
	height:30px;
	background:url(../images/border_foot.jpg) right -30px no-repeat;
}
.comment_main{
		overflow:hidden;
	height:40px;
	
	background:url(../images/border_350.jpg) 0 -40px repeat-x;
}
.comment_left{
	height:40px;
	background: url(../images/border_350.jpg) 0 0 no-repeat;
}
.comment_right{
	height:40px;
	background:url(../images/border_350.jpg) right -80px no-repeat;
}
.main_350{
	overflow:hidden;
	background:url(../images/350.jpg) 0 0 repeat-y;

}
.more_main h2{
	font-weight: bold;
	height:40px;
	line-height: 40px;
	margin-left:12px;
	color:#cc0d13;
	font-size: 10px;
}
.more_main h2 span{
	color:black;
	margin-left: 5px;
}
